COMPUTER_DIR="/path/to/minecraft/saves/.../computercraft/computer/<id>/autocraft"
CRAFTER_DIR="/path/to/minecraft/saves/.../computercraft/computer/<id>/autocraft"

COMPUTER_EXCLUDES="crafter.lua"
CRAFTER_INCLUDES="device_id.lua crafter.lua lib/config.lua lib/logger.lua lib/utils.lua lib/screen.lua lib/network.lua"
